{
    "env": {
        "node": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": false
    },
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "tabWidth": 2,
                "trailingComma": "none",
                "singleQuote": false
            }
        ],
        "indent": [
            "error",
            2
        ],
        "linebreak-style": [
            "warn",
            "unix"
        ],
        "eol-last": [
            "error",
            "always"
        ],
        "quotes": [
            "error",
            "double"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-console": 0,
        "no-unused-vars": 1
    },
    "globals": {
        "__dirname": true
    }
}